!!! 5
%html
  %head
    %title ApiWars
    %style
      = '.board .space{width:8px;height:8px;float:left; border: 1px solid #bbb}'
  %body
    %h1 ApiWars
    %section
      %h1 How to Play
      %p 
        Get your API key and set player
        info by logging in:
        %a{:href => "/auth/gihub"} with Github
      %p 
        Note this is not an open game. 
        You must already be in the database
        to be able to log in.
      %p 
        For more details, see 
        %a{:href => "/api_wars.html"} the docs
    %section
      %h1 Current Status
      %h2 Players:
      %ul
        %li therabidbanana
        %li radicaleggnog
      %h2 Board:
      %section.board
        - spaces.each do |s|
          .space{:id => s.id, :style => "background-color: #{s.color};"}
            = s.player ? s.player.id : '&nbsp;'
    %section{:style => 'clear:both'}
      %h1 What's this?
